/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

.row{
border-width:2px;
border-style:solid;
border-color:black;
}
.col-sm{
border-width:2px;
border-style:solid;
border-color:black;
}