/* CSS files add styling rules to your content */


.case{
  margin: 25px;
  padding: 25px;
}
.row{
border-width:2px;
border-style:solid;
border-color:black;
}
.col-sm{
border-width:2px;
border-style:solid;
border-color:black;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.clicked {
border-width:2px;
border-style:solid;
border-color:green;
}